.cform {
  margin-top: 200px;
  display: inline-block;
}

input[type=text] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
    color: white;
}


input[type=text]:focus {
    border: 3px solid #555;
}

textarea {
    width: 30%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    background-color: white;
    resize: none;
}
