
#typing_text{
  color: lime;
  font-family: "Courier";
  font-size: 20px;
  margin: 5px 0 0 5px;
  width: 30em;
  text-align: left;
}

.terminal {
    background-color: black;
    height: 300px;
    width: 700px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 0px;
}

.terminal-nav {
    width: 700px;
    height: 30px;
    background-color: gray;
    border-radius: 25px, 25px, 0px, 0px;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-bottom: 10px;
}

#typing_text:after {
  visibility: visible;
  content: '';
  background-color: forestgreen;
  display: inline-block;
  position: relative;
  width: 0.5em;
  height: 1em;
  top: 5px;
  margin-left: 0;
  -moz-animation: flicker 0.1s steps(2, start) infinite, ready 1s steps(2, start) 25s infinite;
  -webkit-animation: flicker 0.1s steps(2, start) infinite, ready 1s steps(2, start) 25s infinite;
  animation: flicker 0.1s steps(2, start) infinite, ready 1s steps(2, start) 25s infinite;
}
