
hr {
    height: 3;
    width: 50px;
    border: none;
    background-color: white;
    margin-top: -10px;
}

body {
    background: url(https://www.thefirehoseproject.com/assets/portfolio/bg-407ff3f4daa73d16b035804e6e849ba50c2600a23aaee814f7c700143e6d71dc.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin: 0px;
}


.header{
	position: absolute; 
	z-index: 1;
	margin-top: -30px;
	width: 100%;
	display: inline-block;
	height: 140px;
	background-color: rgba(0,0,0,0);
}

.title,.nav-bar{
    float: left;
}

.title{
	width: 30%;
    	position: relative;
	top:50px;
	left: 50px; 
	font-family: sans-serif;
	font-weight: normal;
	color: white;
    	margin-bottom: 0px;
    	padding-top: 22px;
    	margin-left: 150px;
    	margin-right: 250px;
    	font-size: 35px;
}

.nav-bar{
	width: 40%;
}


ul {
	position: relative;
	right: 0;
    list-style-type: none;
    margin-top:55px;
    padding: 0;
    background-color: rgba(0,0,0,0);
}

li {
    float: left;
    margin-left: 30px;
    margin-right: 0;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

li a:hover{
    color: whitesmoke;
    transition: color 0.3s ease-in-out;
}

li .current{
	color: ghostwhite;
}

h1 {
    margin-bottom: none;
    font-weight: bold;
}

div {
    margin: 0px;
    display: inline-block;
}

.bio-box {
    margin-left: -20px;
    width: 500px;
    text-align: center;
    margin-top: 150px;
}

.abt-box{
    width: 400px;
}

img {
    border: 4px solid white;
    border-radius: 100%;
    width: 200px;
    height: 200px
}

.bio {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    margin-top: -15;
    font-weight: normal;
}


.logo {
    border:3px solid white;
    height: 50px;
    width: 50px;
}

.logo-text {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 3px;
    margin-left: -8px;
}


.footer{
    margin-left: 165px;
    margin-top: 45px;
}
