
hr {
     border: 0;
     clear:both;
     display:block;
     width: 40%;               
     background-color:#FFF;
     height: 2px;
}

body {
    background-image: linear-gradient(to bottom right, #0D324D, #7F5A83);
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin: 0px;
}


.header {
	position: absolute; 
	z-index: 1;
	margin-top: -30px;
	width: 100%;
	display: inline-block;
	height: 140px;
	background-color: rgba(0,0,0,0);
}

.title,.nav-bar {
    float: left;
}

.title {
    width: 30%;
    position: relative;
    top:50px;
    left: 50px; 
    font-family: sans-serif;
    font-weight: normal;
    color: white;
    margin-bottom: 0px;
    padding-top: 22px;
    margin-left: 150px;
    margin-right: 250px;
    font-size: 35px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

li a:hover {
    color: whitesmoke;
    transition: color 0.3s ease-in-out;
}

li .current {
	color: ghostwhite;
}

h1 {
    margin-bottom: none;
    font-weight: bold;
}

section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
}

#profile {
    border: 4px solid white;
    border-radius: 100%;
    width: 200px;
    height: 200px
}

.icons {
    margin: 5px;
}

h2 {
    margin-top: -15;
    font-weight: normal;
}

.logo {
    border:3px solid white;
    height: 50px;
    width: 50px;
}

.footer {
    margin-left: 165px;
    margin-top: 45px;
}

